h1 {
    color:rgb(209, 11, 28);
}
p {
    color: rgb(240, 122, 11);
    
    margin: 5%;
    padding:20px 30px 40px 50px;

    background-color: rgb(158, 44, 173);
}
span {
    color: greenyellow;
}
b {
    color: rgb(75, 4, 4);
}
#first{
    color: white;
    background-color: rgb(37, 33, 41);
    margin: 15%;
    padding:20px 20px 20px 150px;
}
second h1{color: brown;}
second b{color:chocolate}
#second{color: hotpink;}
