h1 {
    color:darkorange;
}
p {
    color: violet;
    
    margin: 5%;
    padding:20px 30px 40px 50px;

    background-color: rgb(37, 65, 75);
}
span {
    color: greenyellow;
}
b {
    color: goldenrod;
}
