* {
    margin: 0;
    padding: 0;
}
header h1 {
    text-align: center;
}
nav a {
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    background-color: rgb(217, 191, 233);
}

.pseudo {
    height: 30px;
    width: 160px;
    background-color: rgb(189, 123, 140);
    border: 2px solid black;
    border-radius: 10px;
    margin: auto; 
}
/* .pseudo: hover */
.pseudo:hover {
    background-color: rgb(178, 139, 218);
    height: 40px;
    width: 170px;
}
/* .pseudo:active */
.pseudo:active {
    height: 40px;
    width: 170px;
    background-color: orangered;
}


/* 40. Transitions */

.transitionProp {
    height: 25px;
    width: 150px;
    background-color: sienna;
    border: 2px solid black;
    border-radius: 10px;

    /* transition property */
    transition: all;
    transition-duration: 1s ;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;


}
.transitionProp:hover {
    height: 30px;
    width: 160px;
    background-color: lightcoral;
}
.transitionProp:active {
    height: 30px;
    width: 160px;
    background-color: thistle;
}

/************************************ 41. CSS Transform **************************/
.box {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
    transition: all 2s ease-in;

}
/* CSS Transform (Rotate) */

#a1:hover {
    background-color: skyblue;
    transform: rotatex(45deg);
}
#a2:active {
    background-color: rgb(217, 191, 233);
    transform: rotatey(180deg);    
}
#a3:hover {
    background-color: paleturquoise;
    transform: rotatez(270deg);

}
#a4:hover {
    background-color: palevioletred;
    transform: rotate(90deg); /*By default its's rotatez*/

}

/* 41. CSS Transform (Scale) */

#b1:hover {
    background-color: rgb(228, 116, 64);
    transform: scale(2)
}
#b2:active {
    background-color: rgb(154, 81, 199);
    transform: scale(4)    
}
#b3:hover {
    background-color: rgb(92, 104, 104);
    transform: scalex(3)

}
#b4:hover {
    background-color: rgb(199, 46, 97);
    transform: scaley(2)
    /* transform: scaley(1)  */

}

/* 41. CSS Transform (Translate) */

#c1:hover {
    background-color: rgb(97, 76, 77);
    transform: translate(50px)
}
#c2:active {
    background-color: rgb(154, 81, 199);
    transform: translate(50px, 50px)    
}
#c3:hover {
    background-color: rgb(92, 104, 104);
    transform: translatex(50px)

}
#c4:hover {
    background-color: rgb(46, 61, 199);
    transform: translatey(50px);
}

/* 41. CSS Transform (Skew) */

#d1:hover {
    background-color: rgb(97, 76, 77);
    transform: skew(45deg)
}
#d2:active {
    background-color: rgb(154, 81, 199);
    transform: skew(180deg)    
}
#d3:hover {
    background-color: rgb(92, 104, 104);
    transform: skewx(270deg)

}
#d4:hover {
    background-color: rgb(46, 61, 199);
    transform: skewy(90deg);
}

/* 42. ********************** Animation ********************************** */
.ani {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 100px;
    bottom: 200px;
    background-color: indianred;

    animation-name: awaara;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

    /* animation-iteration-count: 5; */
    animation-iteration-count: infinite;

    /* animation-direction: normal ; */
    /* animation-direction: reverse ; */
    animation-direction: alternate ;

    /* animation: awaara 4s ease-in-out 0s 4 alternate; */

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    
}

@keyframes awaara {
    from {left: 10px;}
    to {left: 600px;}
}

.tough {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    position: relative;
    top: 10px;
    right: 100px;
    bottom: 200px;
    background-color: rgb(35, 185, 245);

    animation-name: grab;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;

    /* animation-iteration-count: 5; */
    animation-iteration-count: infinite;

    /* animation-direction: normal ; */
    /* animation-direction: reverse ; */
    animation-direction: alternate ;

    /* animation: awaara 4s ease-in-out 0s 4 alternate; */

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes grab {
    /* By-Default it's to{} and from{}
     0% { left: 10px;}
    100% { left: 100px;} 
    */

    0% { left: 50px;}
    50% { left: 200px;}
    60% { left: 260px;}
    100% { left: 400px;}
    
}



span {
    font-size: x-large;
    font-weight: bold;
    color: #5900ff;
}
footer {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    background-color: palegoldenrod;
    width: 100%;
    position: fixed;
    bottom: 0px;
}